body {
  height: 100vh;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-display {
  font-size: 6rem;
}

.timer-mode-display {
  text-align: center;
}

.timer-controls {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 0px;
}